@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

.full_width {
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

.banner_home {
  background: rgba(0, 0, 0, 0) url("../images/banner.jpg") no-repeat scroll center top / cover ;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.banner_home .uk-vertical-align.uk-text-center {
  padding-top: 20%;
}

nav.fixed-nav {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  border: medium none;
  left: 0;
  position: fixed;  padding: 7px 2% 4px;
  top: 0;
  width: 96%;
  border-radius:0;
  z-index:5;
}

nav.fixed-nav .uk-navbar-nav > li > a {
  height: 45px;
  line-height: 46px;
  margin-bottom: -6px;
}

.banner_home h1.uk-heading-large {
  color: #fff;
  font-family: open sans;
  font-size: 80px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -5px;
}

.banner_home h1 span {
  color: #c9c9c9;
  font-weight: 700;
  margin-left: -16px;
}

.banner_home .uk-button-large {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  font-family: open sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 38px;
  margin: 0 10px;
  min-height: 40px;
  min-width: 140px;
  padding: 0 25px;
  text-shadow: none;
  text-transform: uppercase;
}

.banner_home .uk-button-large:hover {
  background: #009dd8;
}

.banner_home p.uk-text-large {
  color: #ccc;
  float: left;
  font-family: open sans;
  font-size: 22px;
  font-weight: 300 !important;
  margin: 20px 0 35px;
  width: 100%;
}

.fixed-nav  .uk-navbar-nav > li > a:hover {
	border:none;
  border-bottom: 4px solid #888;
  color: #fff;
  background:none;
  box-shadow:none;
}

.fixed-nav  .uk-navbar-nav > li > a {
  color: #fff;
  font-family: open sans;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
  border:none;
  border-bottom: 4px solid transparent;
}

.fixed-nav .uk-navbar-nav > li.uk-active > a {
  border:none;
  border-bottom: 4px solid #009dd8;
  color: #fff;
  background:none;
  box-shadow:none;
}

.fixed-nav  .uk-navbar-toggle {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-shadow: none;
}

.footer {
  background: #333 none repeat scroll 0 0;
  float: left;
  padding: 15px 2%;
  width: 96%;
}

.foot_social > img {
  background: #fff none repeat scroll 0 0;
  border-radius: 50px;
  margin-left: 10px;
  width: 26px;
}
.foot_social {
float:right;
}

.footer .uk-nav {
  float: left;
  margin-top: 2px;
  width: auto;
}
.footer .uk-nav li {
  float: left;
  width: auto;
}

.footer .uk-nav a{
  color: #999;
  cursor: pointer;
  text-decoration: none;
}

.footer .uk-nav a:hover {
  color: #ffffff;
}

/*about us */

.fixed-nav.innerpage_nav{
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.middle_content {
  padding-bottom: 25%;
  padding-top: 80px;
}

.middle_content h2 {
  border-bottom: 1px solid #e9e9e9;
  font-family: open sans;
  font-size: 40px;
}

.middle_content h1 {
  background: rgba(0, 0, 0, 0) url("../images/coma.png") no-repeat scroll left top !important;
  color: #777777;
  font-family: open sans;
  font-size: 38px;
  font-weight: 300 !important;
  line-height: 48px;
  margin-bottom: 30px;
  margin-top: 28px;
  padding-left: 89px;
  padding-top: 10px;
}

.middle_content p {
  color: #898989 !important;
  font-family: open sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
}

.abutus {
  float: right;
  margin-left: 20px;
}


.cont_details h3 {
  color: #000;
  font-family: open sans;
  font-size: 24px;
  font-weight: 300;
}


.cont_details p {
  font-family: open sans;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}


.cont_details a {
  color: #8f8f8f;
  float: left;
  font-family: open sans;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 100%;
}



.contact_form input , .contact_form textarea{
  box-shadow: 0 0 5px #f6f6f6 inset;
  height: auto !important;
  margin-top: 7px !important;
  padding: 8px 15px !important;
}

.contact_form {
  padding-right: 35px;
  padding-top: 20px;
}

.cont_details {
  border-left: 1px solid #ececec;
  padding-top: 28px;
}

.contact_form button {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #666;
  color: #000;
  font-size: 16px;
  margin-top: 15px !important;
  padding: 4px 31px;
  text-shadow: none;
}

.contact_form button:hover {
  background: #009dd8;
   color: #fff;

}


#login .uk-modal-dialog {
  max-width: 400px;
  width: 100%;
}

.geo_modals .uk-modal-header {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
  margin: -20px -20px 15px;
  padding: 7px 20px;
}

.geo_modals .uk-modal-header h2 {
font-weight:300;
font-family:open sans;
text-transform:uppercase;
}

.geo_modals input {
  box-shadow: 0 0 5px #f8f8f8 inset;
  height: auto !important;
  padding: 10px 15px !important;
}

.geo_modals .uk-button-primary {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #666;
  color: #000;
  float: right;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  text-shadow: none;
  width: 100px;
}

.geo_modals .uk-button-primary:hover {
  background: #009dd8 none repeat scroll 0 0;
  color: #ffffff;
}


#signup select {
  border-radius: 0;
  margin-left: -5px !important;
  padding: 2px 0;
}

#signup label {
  margin-right: 8px;
}


#signup .uk-grid.uk-grid-small {
  padding-bottom: 4px;
  padding-top: 4px;
}

.gender_select {
  padding-top: 12px;
}

.pading_top {
  float: left;
  padding-top: 12px !important;
}

.geo_modals input#form-date {
    width: 180px;
}


.sign_btn {
  border-top: 1px solid #ccc;
  display: inline-block;
  margin: 26px 0 0;
  padding-right: 0 !important;
  padding-top: 20px !important;
  text-align: right !important;
  width: 100%;
}

.sign_btn a {
  display: inline-block;
  float: none;
  height: auto !important;
  line-height: 25px;
  margin-bottom: 0 !important;
  margin-left: 15px;
  margin-right: 0 !important;
  margin-top: 0 !important;
  min-height: 10px;
  padding: 5px 0;
  text-shadow: none;
  width: auto;
}


.uk-text-small.uk-pull-left.f_r_p {
  float: left;
  font-size: 13px;
  margin-top: 7px;
}

.f_r_p .uk-float-right.uk-link.uk-link-muted {
  font-size: 11px;
  margin-top: 7px;
  width: 100%;
}

/******** dashboad************/

.dashboad.middle_content p {
  color: #898989 !important;
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0 !important;
  text-align: justify;
  word-wrap: break-word;
}

.img_margin_left {
  margin-left: 15px;
}

.middle_content .post_control p.time {
  color: #b7b7b7 !important;
}

.dashboad.middle_content p a {
  color: #b7b7b7 !important;
}


.user_img_right h3 {

  float: left;
  font-family: open sans;
  font-size: 27px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  width: 100%;
}

.user_img_right h3 small {
  color: #888;
  font-family: open sans;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 5px;
  padding-top: 0;
  width: 100%;
}

.user_img_right textarea {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc inset;
  font-family: open sans;
  height: 99px;
  margin-bottom: 4px;
  padding: 5px 29px 5px 10px;
  resize: none;
  width: 100%;
}

.user_img_right i.uk-icon-image {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    font-size: 26px;
    margin-right: 8px;
    /* margin-top: -31px; */
    position: relative;
}


form.uk-search.search_dash_nav {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  margin-top: 5px;
  width: 37%;
}

.shortlist_menu {
  border-bottom: 1px solid #ccc;
  color: #333;
  float: left;
  margin-bottom: 20px;
  margin-top: 18px;
  padding-bottom: 10px;
}

.shortlist_menu > ul {
  float: left;
  list-style: outside none none;
  margin: 0 !important;
  padding: 0;
}

.shortlist_menu li {
  background: #e5e5e5 none repeat scroll 0 0;
  border-radius: 3px;
  cursor: pointer;
  float: left;
  font-size: 16px;
  margin-bottom: 4px;
  margin-right: 9px;
  margin-top: 4px;
  padding: 4px 13px;
  text-transform: uppercase;
}

.shortlist_menu li:hover , .shortlist_menu li.active_sm {
	background: #009dd8;
	color:#fff;
}




.shortlist_menu .uk-float-right {
    padding-top: 2px;
}

.shortlist_menu .uk-float-right select {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 7px;
  padding: 3px 4px;
}


.dash_botom_list {
	float:left;
}

.img_margin_right {
  margin-right: 15px;
}

.img_slid li {
 /* margin: 1.2%;
  width: 20% !important;*/
}
.img_slid .slider_image img{
	width:100%;
}

.uk-slidenav-position.uk-margin {
  width: 100%;
}

.uk-slider-container.img_slid {
  float: left;
  margin-top: 0;
  width: 100%;
}

.img_slid ul {
  max-width: 97.5% !important;
  min-width: 200px !important;
  width: 98% !important;
}

.user_bottom_img_right h3 {
  display: block;
  float: left;
  font-family: open sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 17px;
  padding-left: 11px;
}
.user_location {
  color: #888;
  float: left;
  font-size: 14px;
  margin-bottom: 0;
  width: 100%;
}

.custom-freind img {
  border: 1px solid #eee;
  border-radius: 50px;
  margin: 7px 0 0 7px !important;
}

.footer.home_foot {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: 0;
  float: left;
  padding: 15px 2%;
  position: fixed;
  width: 96%;
}

.user_img_right {
  padding-left: 20px;
}


.user_bottom_img_right .uk-slidenav-position .uk-slidenav-previous {
  color: #999;
  font-size: 36px;
  left: -30px;
}

.user_bottom_img_right .uk-slidenav-position .uk-slidenav-next {
  color: #999;
  font-size: 36px;
  right: -40px;
}

.user_bottom_img_right .uk-slidenav-position .uk-slidenav {
  margin-top: -18px;
}


.user_location .uk-icon-envelope {
  color: orange;
  padding-left: 10px;
}


.online_user {
  margin-left: 2px;
  margin-top: 2px;
}



.dash_botom_list {
  background: rgba(0, 0, 0, 0) url("../images/box_shadow_bottom.png") no-repeat scroll right bottom;
  margin-bottom: 15px;
  margin-top: 0 !important;
  padding-bottom: 30px;
}

.dash_botom_list .post_control {
background: url("../images/bg_line.png") no-repeat left;
}


.settings .uk-button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 6px 0 0;
  text-shadow: none;
}



.geo_modals input[type="checkbox"] {
    padding: 0!important;
    width: 17px !important;
    height: 17px!important;
}

.geo_modals input[type="radio"] {
    padding: 0!important;
    width: 14px!important;
    height: 14px!important;
}





@media only screen and (max-width: 645px){
.footer .uk-nav {
  border-bottom: 1px solid #444;
  float: left;
  margin-top: 2px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}

.footer .uk-nav li {
  display: inline-block;
  float: none;
  width: auto;
}

.foot_social {
  float: right;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

}



@media only screen and (max-width: 700px){

.middle_content h1 {
  font-size: 24px;
  line-height: 28px;

}

.abutus {
  float: right;
  margin-left: 20px;
  width: 100%;
}

}

.custom-width{
  width: 100%!important;
  max-width: 100%!important;
}


/* profile */

.background_profile {
  background: rgba(0, 0, 0, 0)  no-repeat scroll left center / cover ;
  margin-top: 50px;
  padding: 30px 0;
  width: 100%;
}

.pro_right h3 {
  color: #fff;
  font-family: open sans;
  font-size: 30px;
  margin: 16% 0 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.pro_right h4 {
  color: #fff;
  font-family: open sans;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.pro_right h5 {
  color: #fff;
  font-family: open sans;
  font-size: 15px;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.middle_content.profile {
  padding-bottom: 25%;
  padding-top: 30px;
}


.profile_post_right b {
  color: #000;
  display: block;
  font-weight: 700;
  line-height: 14px;
  margin-top: 15px;
  padding-bottom: 6px;
}

.middle_content .profile_post_right p {
  color: #898989 !important;
  font-family: open sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: justify;
}


.profile_post_right .post_control {
  background: rgba(0, 0, 0, 0) url("../images/post_divider.jpg") no-repeat scroll center bottom;
  padding-bottom: 20px;
  float: left;
}
.profile_post_photos {
  float: left;
  margin: 1%;
  width: 31%;
}
.profile_bottom h3 {
  font-family: open sans;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 25px;
}

.profile_post_right{
 background: rgba(0, 0, 0, 0) url("../images/divider_post.jpg") repeat-y scroll left top;
	}

.post_control a {
  color: #b7b7b7;
  font-size: 12px;
}







/*coment popup*/


.coment_popup .popup_img_right .uk-comment-header {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}


.coment_popup.uk-modal .uk-modal-dialog {
  height: 90%;
  margin: 3%;
  width: 94%;
}



.coment_popup .uk-comment-list .uk-comment-title {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.coment_popup .uk-comment  .uk-comment-title {
  font-size: 16px;
  line-height: 22px;
  margin: 1px 0 0;
}

.coment_popup .uk-comment-list .uk-comment + ul {
  list-style: outside none none;
  margin: 5px 0 0;
}

.coment_popup article {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 6px;
}

.coment_popup .popup_img_right p {
    font-size: 13px;
    line-height: 16px;
    color: #000!important;
    margin-top: 6px!important;
}

a.reply_to_c {
    background: #1D8ACB;
    color: #fff;
    font-size: 12px;
    padding: 0px 7px;
    border-radius: 0 0 2px 2px;
    float: right;
    line-height: 18px;
}

.coment_popup .popup_img_right > article.uk-comment {
  border-bottom: medium none;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.coment_popup .popup_img_right > .uk-comment .uk-comment-meta span {
  color: #000;
  display: block;
  font-size: 12px;
}

.coment_popup .uk-comment-list .uk-comment + ul {
  padding-left: 5%;
}

.coment_popup .uk-comment-meta span {
  color: #000;
}

.coment_popup .comenting_form {
  float: left;
  margin-top: 15px;
  padding-left: 10px;
  width: 100%;
}

.coment_popup .comenting_form .uk-comment-avatar {
  float: left;
  margin-right: 15px;
  width: 6%;
}

.coment_popup .comenting_form  .uk-comment-avatar {
  float: left;
  margin-right: 0px;
  width: 6%;
}

.coment_popup .comenting_form textarea {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset;
  margin-top: 0;
  padding: 5px 10px;
  width: 88%;
  float:right;
}

.coment_popup .comenting_form > input {
  background: #2ba3d4 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 3px 10px;
}

.coment_popup .comenting_form.border-top_cf {
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
  padding-top: 14px;
}

.coment_popup .popup_img_left{

 position:relative;
}

.coment_popup .popup_img_left .uk-width-small-1-1 {
    background: #ccc none repeat scroll 0 0;
    height: 100%;
    padding: 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 94%;
}

.coment_popup .popup_img_left .uk-width-small-1-1 img {
  left: 50%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.coment_popup  .uk-grid {
  height: 100%;
  position: relative;
}

.coment_popup .popup_img_right {
  max-height: 100%;
  overflow-y: auto;
  padding: 20px 20px 0;
}

.coment_popup  button.uk-close {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ececec;
  margin: 0 !important;
  opacity: 1 !important;
  padding: 5px;
  right: 0 !important;
  top: 0 !important;
}


.coment_popup   .uk-slidenav {
  position: absolute;
  top: 44% !important;
  z-index: 10;
}

.coment_popup   .uk-slidenav.uk-slidenav-contrast.uk-slidenav-previous {
  left: 0;
}

.coment_popup   .uk-slidenav.uk-slidenav-contrast.uk-slidenav-next {
  right: 0;
}

.popup_img_right.coment_pop_cont {
  padding-left: 4%;
}



#contant_coment_pop .comenting_form .uk-comment-avatar {
  float: left;
  margin-right: 10px;
  width: 40px;
}

#contant_coment_pop  .comenting_form textarea {
  float: left;
}

#contant_coment_pop .comenting_form > input {
  float: right;
}

.coment_heading {
  border-bottom: 1px solid;
  font-family: open sans;
  font-weight: bold;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 12px;
  padding: 0 !important;
}

.coment_popup .uk-comment-list {
  margin-top: 5px;
}

.coment_popup .post_control {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.coment_popup .post_control p {
  font-family: open sans;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 21px;
  margin: 0 0 10px;
}

.popup_img_right > .uk-comment p {
  font-family: open sans;
  font-size: 16px;
  font-weight: 300;
}


.coment_heading .coment_count {
  border: medium none;
  color: #999;
  float: right;
}


.coment_popup .post_control p {
  font-family: open sans;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 21px;
  margin: 0 0 10px;
}

.popup_img_right > .uk-comment p {
  font-family: open sans;
  font-size: 16px;
  font-weight: 300;
}


ul.placesSuggest_suggests {
  background: #fff none repeat scroll 0 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  width: 98%;
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-left: .7%;
}
ul.placesSuggest_suggests li {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #ccc !important;
  color: #777;
  list-style: outside none none !important;
  margin-left: 0 !important;
  padding: 5px 12px !important;
}

ul.placesSuggest_suggests li:hover {
 background: rgba(204, 204, 204, 0.3) none repeat scroll 0 0;
}
ul.placesSuggest_suggests li a {
  color: #555;
  text-decoration: none;
}

ul.placesSuggest_suggests li svg.placesSuggest_suggestIcon {
    margin-right: 6px;
    /* font-size: 10px; */
}

.rdt.dob > input {
    width: 100%;
}
/*edit profile*/

.uk-width-3-10.user_img_left {
  position: relative;
}

.background_profile {
  position: relative;
}

.edit_profile_img_btn {
  background: black none repeat scroll 0 0;
  bottom: 0;
  padding: 4px 20px;
  position: absolute;
  right: 0;
  width: auto;
}

.edit_profile_img_btn .uk-icon-file-image-o {
  float: right;
  font-size: 11px;
  margin-left: 6px;
  margin-top: 3px;
}

.edit_profile_background_btn {
  background: black none repeat scroll 0 0;
  bottom: 0;
  padding: 4px 20px;
  position: absolute;
  right: 0;
  width: auto;
}


.edit_profile_background_btn .uk-icon-file-image-o {
  float: right;
  font-size: 11px;
  margin-left: 6px;
  margin-top: 3px;
}



.edit_profile h4 {
  border-bottom: 1px solid #e6e6e6;
  float: left;
  font-weight: bold;
  margin-bottom: 20px !important;
  margin-top: 20px;
  padding-left: 0 !important;
  width: 100%;
}

.edit_profile label {
  font-weight: normal !important;
  margin-bottom: 0 !important;
  padding-top: 8px;
}


p.text-align-right {
  text-align: right !important;
  width: 100%;
}

p.text-align-right .uk-button-large {
  background: #009dd8 none repeat scroll 0 0;
  padding: 0 20px;
}

p.text-align-right a.uk-button.uk-button-large {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #666;
  margin-left: 10px;
}

p.text-align-left .uk-button-large {
  background: #009dd8 none repeat scroll 0 0;
  padding: 0 20px;
  margin-top: 10px;
}

.chosen_bg {
  float: left;
  margin-bottom: 11px !important;
  margin-top: 7px !important;
  padding: 10px;
  width: 100%;
}


.profile-sidebar {
  margin-top: 25px;
  border-right: 1px solid #ccc;
}

.profile-sidebar ul li a {
  background: #eee;
  color: #777;
  border: none;
  width: 92.3%;
}

.profile-sidebar ul li.uk-active a {
  background: #009dd8;
  color: #fff;
  text-shadow: none;
}

.profile-form input {
  padding: 7px 10px!important;
  line-height: 32px!important;
  height: 40px!important;
  box-shadow: 0 0 5px #ccc inset;
  border: 1px solid #ccc!important;
}

.profile-form input[type="radio"] {
  padding: 0px!important;
  line-height: auto !important;
  height: 13px !important;
  box-shadow: none;
  border: 1px solid #ccc!important;
}
.profile-modal .uk-modal-dialog {
  background: #fff none repeat scroll 0 0;
  max-width: 350px;
  text-align: center;
}


/*add friend*/
.af_border {
  border: 1px solid #dfdfdf;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.add_friend .user_bottom_img_right {
  padding-top: 10px;
}

.add_friend {
  margin-bottom: 20px;
  margin-top: 10px;
}

.add_friend  .user_bottom_img_right h3 {
    font-family: open sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 11px;
}

.add-friend-button{
  position: absolute;
    right: 10px;
    bottom: 10px;
}



/*new css*/


.uk-text-small.uk-pull-left.f_r_p {
  float: left;
  margin-bottom: 10px;
  margin-top: 7px;
  width: 100%;
}

.f_r_p .uk-float-right.uk-link.uk-link-muted {
  font-size: 11px;
  margin-top: -1px;
  width: auto;
}

.placesSuggest {
  margin-bottom: 9px;
  margin-top: 9px;
}



@media only screen and (max-width: 900px){

.uk-width-medium-1-1.banner_home.uk-row-first {
  padding: 0;
}

.banner_home .uk-vertical-align.uk-text-center {
  padding-top: 35%;
}

form.uk-search.search_dash_nav {
  width: 25%;
}

}

@media only screen and (max-width: 480px){

.banner_home .uk-button-large {
  min-width: 120px;
}

}

@media only screen and (max-width: 767px){

.innerpage_nav .uk-navbar-center {
  float: left;
}

.dash_top_head .uk-width-small-1-2 {
  width: 100%;
}

}

.add_friend_btn{
  position: absolute;
    right: 5px;
    bottom: 5px;
}

.capital_first{
  text-transform: capitalize;
}
.hidden_file_input{
  position: absolute;
    top: 182px;
    height: 100px;
    opacity: 0.1;
    cursor: pointer;
    right: 70px;
}
.manage-requests-btns{
  padding-left: 10px;
    margin:5px;
    padding-right: 10px;
}
.manage-request-btns-div{
  text-align: right;
      padding: 5px;
}
.dash_top_head {
    width: 100%;
}

.user_img_right .uk-button-large {
    float: right;
    padding: 0 10px;
    min-height: 17px;
    line-height: 23px;
    /* margin-top: -33px; */
    border-radius: 0;
    /* position: relative; */
    /* z-index: 1; */
    border-radius: 3px;
}

.cont_post_btn {
  background: #eee none repeat scroll 0 0;
  border-radius: 3px;
  float: left;
  margin-top: 0;
  padding: 5px;
  width: 97%;
}

.category-select {
    float: left;
    padding-left: 15px;
    margin: 0 0 4px 0;
}
.category-select select {
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-left: 5px;
    padding: 4px 6px;
    background-color: buttonface;
    font-size: 13.3333px Arial;
}
.slider_image {
  height: auto !important;
  margin: 0 !important;
  max-height: 75px;
  width: auto !important;
}

.slick-next{
  right: 0px !important;
  background: #000 !important;
}
.slick-prev{
  left:0px !important;
  background: #000 !important;
}

.img_border {
    border: 1px solid #ccc;
    background: #fff;
}

.img_border textarea.uk-width-1-1 {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 0 10px #ccc inset;
  font-family: sans-serif;
  font-size: 14px;
  margin: 2%;
  padding: 5px 10px;
  width: 96%;
}

.slick-slide img {
  display: block;
  float: left;
  margin: 0 !important;
  max-height: 75px;
  padding: 0 !important;
  width: auto !important;
}

.uk-slidenav-position.uk-margin {
  float: left;
  margin: 0 !important;
  width: 100%;
}

.slick-next, .slick-prev {
    border-radius: 57px;
    background: #cecece !important;
}

.slick-slide.main-box > img {
  max-height: 100% !important;
}

.popup_img_left {
  background: #ccc none repeat scroll 0 0;
  padding: 0;
  text-align: center;
}
.popup_img_left div {
  height: 100%;
  line-height: 100%;
  position: absolute;
  width: 100%;
}
.image-gallery-slide img{
  display: inline-block !important;
  float: none !important;
  left: 50%;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto!important;
}
.single-slide {
    display: inline-block !important;
    float: none !important;
    left: 50%;
    margin: 0 !important;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto!important;
    max-height: 100%;
}


.popup_img_left .slick-slide img {
  display: inline-block !important;
  float: none !important;
  left: 50%;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.popup_img_left .slick-initialized .slick-slide {
    position: relative !important;
}


.user_img_right textarea {
  height: 63px;
  padding: 2px 5px;
}

.uk-modal-footer button {
  margin-right: 10px;
}

form.post_img_modal_form {
    background: #eee;
    /* float: left; */
    width: 96%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.user_img_left {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 3px;
    /* line-height: 155px; */
    padding: 0;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.custom_img_pop_style{
  display: inline-block !important;
float: none !important;
left: 50%;
margin: 0 !important;
position: absolute;
top: 50%;
transform: translate(-50%, -50%);
}

small.user_location {
    margin-top: -10px;
}

.post_txt_dashboard, a:hover {
    text-decoration: none;

}
.comment_btn {
    float: right;
    background: #2ba3d4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-size: 16px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 10px;
}
.button-left{
  position: absolute;
    opacity: 1;
    padding: 5px;
    float: left;
    top: 53px;
    left: 12px;
}

label.uk-form-label.ufl2 {
    font-weight: bold;
    margin-bottom: -10px;
    width: 100%;
}

ul.uk-nestable.uflul {
    margin-top: 6px;
}
.first-icn{
  margin-left: 5px;
}

.myinputcont {
    border: none;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 6px;
    padding: 3px 0;
    margin-right: 5px;
}

.uflul a.uk-icon-trash.uk-float-right {
    margin-top: 3px;
}

.dashboad.middle_content form.post_img_modal_form input.uk-float-left {
    float: none;
    margin: auto;
    font-size: 15px;
    width: auto !important;
}
.dashboad.middle_content form.post_img_modal_form p {
    float: left;
    width: 100%;
    text-align: center !important;
    font-size: 19px !important;
    margin: 15px 0 !important;
}
.dashboad.middle_content form.post_img_modal_form .input-img-url{
    width: 80%;
    padding: 4px 6px;
    font-size: 15px;
}
